// Definición de variables para los diferentes tamaños de dispositivos
$mobile_device: "(max-width: 576px)";
$tablet_device: "(max-width: 992px)";
$mid_device: "(max-width: 1200px)";

.bradcam_bg {
    background-image: url(../img/banner/bradcam.png);
}

.bradcam_bg_2 {
    background-image: url(../img/banner/bradcam2.png);
}

.bradcam_area {
    padding: 0; /* Eliminar todo el padding */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto; /* Centrado horizontal del contenido */
    max-width: 1200px; /* Establecer un ancho máximo para evitar que el área sea demasiado ancha */

    .bradcam_text {
        text-align: center; /* Centrado del texto */

        h3 {
            font-size: 3.5vw; /* Tamaño de fuente responsivo */
            font-weight: 400;
            color: #C78665;
            margin-bottom: 10px; /* Espaciado inferior */

            @media #{$mobile_device} {
                font-size: 6vw; /* Tamaño de fuente para dispositivos móviles */
            }
        }

        h5 {
            font-size: 2.5vw; /* Tamaño de fuente responsivo */
            color: #C78665;
            margin-bottom: 0; /* Eliminar el margen inferior */

            @media #{$mobile_device} {
                font-size: 4.5vw; /* Tamaño de fuente para dispositivos móviles */
            }
        }
    }

    @media #{$mobile_device} {
        /* Ajustes adicionales para dispositivos móviles si es necesario */
    }
}

.accommodation_area {
    padding-top: 150px;

    @media #{$mobile_device} {
        padding-top: 50px;
    }

    @media #{$tablet_device} {
        padding-top: 80px;
    }

    .accommondation_image {
        margin: 4px !important;

        img {
            width: 100%;
        }
    }

    h3 {
        margin-bottom: 14px;
    }

    p {
        font-family: $font1;
    }
}
